h1 {
    margin-top: 4px;
    margin-bottom: 10px;
    font-family: "Lucida Console";
    font-size: 60px;
    font-size:64;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-text-fill-color: transparent;
    text-shadow: -5px -5px #ffffff
  }
  hr {
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-text-fill-color: transparent;
    text-shadow: -5px -5px #ffffff
  }
  body {
   background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    }
    
    p {
    border: 4px solid #00FFFF;
    text-align: center;
    letter-spacing: 3px;
    color:#00008B;
    background: rgb(255,255,255);
    }